<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Usuario</th>
                <th>Grupo</th>
                <th>Lugares Encontrados</th>
                <th>Puntos</th>
                <th>Tiempo total</th>
            </tr>
            {{#each reports}}
            <tr>
                {{#this}}
                <td>{{userName}}</td>
                <td>{{groupUser}}</td>
                <td>{{placesFind}}</td>
                <td>{{pointsTotal}}</td>
                <td>{{timeTotal}}</td>
                {{/this}}
            </tr>
            {{/each}}
        </table>
    </div>
</div>